@import url('https://fonts.googleapis.com/css?family=Oswald');


h2 {
    font-weight: light;
    font-size: 2em;
    font-family: "Oswald", sans-serif;  
    text-transform: uppercase;
    color: #4E5E82;
}

.form label {
    margin: 0.2em 0 0.6em 0;
    padding: 0em;
    display: block;
    font-weight: light;
    font-family: "Oswald", sans-serif;
    font-size: 1.6em;
    color: #4E5E82;
  }
  
  .form input[type="text"],
  .form input[type="url"],
  .form input[type="email"],
  textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 0.2em solid #e6e8ed;
    padding: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;
  }
  
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form input[type="url"]:focus,
  .form textarea:focus {
    -moz-box-shadow: 0 0 0.4em #e6e8ed;
    -webkit-box-shadow: 0 0 0.4em #e6e8ed;
    box-shadow: 0 0 0.4em #e6e8ed;
    border: 0.1em solid #e6e8ed;
  }
  
  .form {
    width: 60%;
  }
  
  .form .field-long {
    width: 100%;
  }
  
  .form .field-textarea {
    height: 100%;
  }
  
  .button-submit {
    background: #589c9a;
    color: white;
    margin: 0.8em 0 0.6em 0;
    padding: 0.6em;
    text-align: center;
    border: none;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    border-radius: 5px;
  }
  
  .button-submit:hover {
    background: #589c9a;
    color: white;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  